@page
@model Vkshit.Pages.IndexModel

<h2>VK Clip Info</h2>

<form method="post">
    <label>Введите ссылку на клип:</label><br>
    <input type="text" name="ClipUrl" style="width:400px" />
    <button type="submit">Получить</button>
</form>

@if (Model.ClipInfo != null)
{
    <h3>Данные:</h3>
    <pre>@Model.ClipInfo</pre>
}
